header {
    @include flex(space-between, center);
    background-color: rgba(20, 20, 20, .9);
    height: 70px;

    h1 a {
        @include font(2rem, bold);
        margin: 1rem;
        color: $white;
    }

    nav {
        @include flex(center, center);

        a {
            padding: 0 1.25rem;
            color: $white;
            @include font(1.25rem, bold);

            &:hover {
                color: gray;
            }
        }
    }

    &>div {
        padding: 0 1rem;

        & a {
            color: $white;
            @include font(1.2rem, bold);
        }
    }
}